body {
    margin: 0;
    background-color: #f7f7f7;
    color: #3f3f3f;
}

* {
    font-family: 'Open Sans', sans-serif;
    outline: none;
}

.container {
    padding: 0 10px;
    max-width: 100%;
}

header h3 {
    text-align: center;
    color: #fff;
    font-weight: 400;
    padding: 20px 0;
    text-transform: uppercase;
    margin: 0;
    margin-bottom: 20px;
}
header {
    background-color: #3a3d3f;
}

.random-number, .heads-or-tails {
    display: none;
}

.card-group .card {
    box-shadow: 0 1px 2px 0 rgba(0,0,0,0.2);
    border-radius: 20px;
    background-color: #fff;
    display: inline-block;
}
.card-group .card .wrap {
    padding: 20px;
}
.card-group .card .btn.start {
    width: 100%;
    border: none;
    padding: 10px 0;
    color: #fff;
    background-color: #4dc15d;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}
.card-group .card h3 {
    font-weight: 400;
    margin: 0;
}